nav {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    align-items: center;
}

ul {
    display: flex;
}

.logo {
    color: white;
}

li {
    margin-left: 10px;
    list-style-type: none;
    color: white;
}
